<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CTC - COMPETITIONS</title>
</head>

<body>

<p>
    <span>List of Competitions</span>
</p>

<div th:if="${ not#lists.isEmpty(competitions)}">
    <table>
        <tr>
            <th>ID</th>
            <th>Team A</th>
            <th>Team B</th>
        </tr>
        <tr th:each="competition : ${competitions}">
            <td><a th:href="@{'/ui/spectate?id=' + ${competition.id}}" th:text="${competition.id}"></a></td>
            <td><a th:href="@{'/ui/spectate?id=' + ${competition.id}}" th:text="${competition.teamA}"></a></td>
            <td><a th:href="@{'/ui/spectate?id=' + ${competition.id}}" th:text="${competition.teamB}"></a></td>
        </tr>
    </table>
</div>

<!-- /.container -->
</body>
</html>