<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CTC</title>
</head>

<body>

    <p>
        <span>WELCOME TO CTC</span>
    </p>
    Please select what to do...
      <div><a th:href="@{/ui/teams}">View teams</a></div>
      <div><a th:href="@{/ui/trainings}">View trainings</a></div>
      <div><a th:href="@{/ui/competitions}">View competitions</a></div>
  <!-- /.container -->
</body>
</html>