<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CTC - TRAININGS</title>
</head>

<body>

<p>
    <span>List of Trainings</span>
</p>

<div th:if="${ not#lists.isEmpty(trainings)}">
    <table>
        <tr>
            <th>ID</th>
            <th>Team</th>
        </tr>
        <tr th:each="training : ${trainings}">
            <td><a th:href="@{'/ui/spectate?id=' + ${training.id}}" th:text="${training.id}"></a></td>
            <td><a th:href="@{'/ui/spectate?id=' + ${training.id}}" th:text="${training.teamA}"></a></td>
        </tr>
    </table>
</div>

<!-- /.container -->
</body>
</html>